--readme README.md
--title 'ActiveShipping API documentation'
--charset utf-8
--hide-void-return
--protected
--no-private
--markup markdown
--markup-provider redcarpet
--exclude /lib/vendor/xml_node/
-
README.md
CHANGELOG.md
CONTRIBUTING.md
MIT-LICENSE
